.modal, .remove-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: whitesmoke;
  margin: auto;
  padding: 40px;
  border: 1px solid #888;
  border-radius: 20px;
  width: 36%;
}

.modal-content p .add-student-modal{
  font-size: 20px;
  width: 30%;
  margin: 0;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
  
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
  
.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-window-header {
  color: #3a5635;
}

.cancel-button {
  background-color: #b44b28;
  height: 40px;
  width: 80px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 40px;
  color: white;
  font-size: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.ok-button {
  background-color: #3a5635;
  height: 40px;
  width: 48px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  color: white;
  font-size: 20px;
}

.create-button {
  background-color: #3a5635;
  height: 40px;
  width: 80px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  color: white;
  font-size: 20px;
}